<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/board.css' />
  </head>
  <body>
    <div class="header">
      <div class="title">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>, where only members can see who wrote what!</p>
      </div>
      <div class="title">
        <% if (loggedIn && member) { %>
          <a href="/board/message/create" class="button">Create new message</a>
          <form action="/board/logout" method="POST">
            <button type="submit">Logout</button>
        </form> 
        <% } else { %>
          <form action="/board/user/sign_up" method="GET">
            <button type="submit">Sign up</button>
          </form> 
          <form action="/board/login" method="GET">
            <button type="submit">Log in</button>
          </form> 
        <% } %>
      </div>
    </div>
    <div class="container">
      <% messages.forEach(message => { %>
        <div class="item">
          <p>Title: <%= message.title %></p>
          <p>Message: <%= message.content %></p>
          <p>Date: <%= member ? message.date_formatted: "" %></p>
          <p>Author: <%= member? message.author.fullname: "" %></p>
          <% if (admin || (currUser && message.author._id.toString() === currUser._id.toString())) { %>
            <form action='board/message/<%= message._id%>/delete'method="POST">
              <button type="submit">Delete</button>
            </form>
          <% } %>
        </div>
      <% }) %> 
    </div>
  </body>
</html>
